<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="favicon.ico" >
  <title>ROneUsers</title>
  <LINK REL="stylesheet" TYPE="text/css" HREF="css/index.css">
</head>
<body style="background-image:url(img/bg.gif)">
<img src="img/logo.png">
<table>
  <tr>
    <td valign="top">
      <table class="num_list">
      <tr><th>No.</th><th>location</th><th>num</th></tr>
      <%
      Totals.top100.each_with_index{|v,no|
      %>
        <tr>
          <td class="no" align="center"><%= no + 1%></td>
          <td class="location"><%= h v.location %></td>
          <td class="count" align="center">
            <a href="location/<%= v.location %>"><%= v.count %></a>
          </td>
        </tr>
      <%
      }
      %>
      </table>
    </td>
    <td>
    &nbsp;
    </td>
    <td valign="top">
      <div>
      crawl <%= Users.count %> user.
      </div>
      <div>
      半径 1 クリックの範囲を収集した地域別 Twitter ユーザ数<br>
        <ul>
          <li>あーるわんゆーざーず</li>
          <li>タイムゾーンが日本のユーザがフォローしているユーザを地域別に丸めて(新宿区→東京 etc)集計</li>
          <li> Top 100 の地域を表示</li>
          <li>クロールしっぱなしで最新データの取り直しをしていない</li>
          <li>一時間に一回ぐらい統計データを更新</li>
        </ul>
      </div>
      <div align="right">
        <a href="http://basyura.org/">basyura.org</a><br>
        <a href="http://d.hatena.ne.jp/basyura">blog</a><br>
        <a href="http://twitter.com/basyura">twitter</a>
      </div>
      <br>
      <div align="right">
      Powered by ruby <%= VERSION %><br>
      sinatra <%= Sinatra::VERSION%><br>
      sequel <%= Sequel::VERSION%><br>
      rack <%= Rack::version %><br>
      sqlite3<br>
      with cgi
      </div>
    </td>
  </tr>
</table>
</body>
</html>
