<html>
<head>
  <link rel="shortcut icon" href="../favicon.ico" >
  <title>ROneUsers - <%= params[:location] %> - <%= params[:page] %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="background-image:url(../img/bg.gif)">
<a href="../"><img src="../img/logo.png" style="border-style:none;"></a>
<%  
Divides.users(params[:location],params[:page]).each_with_index {|u,i|
%>
<div style="width:500pt;padding:2;">
<table style="background-color:<%= i % 2 == 0 ? '#ffffff' : '#f8f8f8' %>;width:100%;table-layout:fixed;">
  <tr>
    <td valign="top" width="60;">
      <a href="http://twitter.com/<%= u.screen_name %>">
        <img src="<%= u.profile_image_url %>" style="widht:50;height:50;border-style:none;">
      </a><br>
    </td>
    <td valign="top">
      <a href="http://twitter.com/<%= u.screen_name %>">
        <b><%= h u.screen_name %></b>
      </a>
      <br>
      <%= h u.location %><br>
      <a href="<%= u.url %>"><%= u.url %></a><br>
      <%= h u.description %>
      <br>
      following : <%= u.followers_count %>
      &nbsp;&nbsp;
      followers : <%= u.friends_count %>
      &nbsp;&nbsp;
      tweets : <%= u.statuses_count %>
    </td>
  </tr>
</table>
</div>
<% } %>
<div >
<% if params[:page].to_i != 1 %>
  <a href="../location/<%= params[:location] + "?page=" + (params[:page].to_i- 1).to_s %>">前へ</a>
<% end %>
<% if params[:page] %>
  <a href="../location/<%= params[:location] + "?page=" + (params[:page].to_i + 1).to_s %>">次へ</a>
<% else %>
  <a href="../location/<%= params[:location] %>?page=2">次へ</a>
<% end %>
</div>
</body>
</html>
