<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="半径 1 クリックの範囲を収集した地域別 Twitter ユーザ数">
      <meta name="keywords" content="twitter,ruby,sinatra,sequel">
  <link rel="shortcut icon" href="favicon.ico" >
  <link rel="alternate" type="application/rss+xml" href="rss/all.rdf" title="ROnUsers - all">
  <title>ROneUsers</title>
  <LINK REL="stylesheet" TYPE="text/css" HREF="css/index.css">
  <script type="text/javascript" src="js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</head>
<body style="background-image:url(img/bg.gif)" onload="initialize()">
<img src="img/logo.png">
<table>
  <tr>
    <td valign="top">
      <table class="num_list">
      <tr><th>No.</th><th>location</th><th>num</th></tr>
      <%
      User.cached_ranking.each_with_index{|v,no|
      %>
        <tr>
          <td class="no" align="center"><%= no + 1%></td>
          <td class="location"><%= h v[1] %></td>
          <td class="count" align="center">
            <a href="location/<%= v[0] %>"><%= v[2] %></a>
          </td>
        </tr>
      <%
      }
      %>
      </table>
    </td>
    <td>
    &nbsp;
    </td>
    <td valign="top">
      <div class="explanation">
        <div class="crawl_num">
        crawl <%= User.cached_count %> user.
        </div>
        <div class="explanation_body">
        半径 1 クリックの範囲を収集した地域別 Twitter ユーザ数<br>
          <ul>
            <li>あーるわんゆーざーず</li>
            <li>タイムゾーンが日本のユーザがフォローしているユーザを地域別に丸めて(新宿区→東京 etc)集計</li>
            <li>一時間に一回ぐらい統計データを更新</li>
          </ul>
        </div>
      </div>
      <br>
      <div>
        <table class="newuser_table">
          <tr>
            <th>
              new users 
              <a href="rss/all.rdf">
                <img src="img/feed.png" border="0">
              </a>
            </th>
          </tr>
        </table>
        <div id="newuser" align="center" style="padding:5px;background-color:#ffffff">
          <img src="img/loading.gif" >
        </div>
      </div>
      <br>
      <div align="right">
        <a href="http://basyura.org/">basyura.org</a><br>
        <a href="http://d.hatena.ne.jp/basyura">blog</a><br>
        <a href="http://twitter.com/basyura">twitter</a>
      </div>
      <br>
      <div align="right">
      Powered by ruby <%= VERSION %><br>
      sinatra <%= Sinatra::VERSION%><br>
      sequel <%= Sequel::VERSION%><br>
      rack <%= Rack::version %><br>
      sqlite3<br>
      with cgi
      </div>
    </td>
  </tr>
</table>
</body>
</html>
