<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="半径 1 クリックの範囲を収集した地域別 Twitter ユーザ数">
      <meta name="keywords" content="twitter,ruby,sinatra,sequel">
  <link rel="shortcut icon" href="favicon.ico" >
  <link rel="alternate" type="application/rss+xml" href="rss/all.rdf" title="ROnUsers - all">
  <title>ROneUsers</title>
  <LINK REL="stylesheet" TYPE="text/css" HREF="css/index.css">
  <script type="text/javascript" src="js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</head>
<body style="background-image:url(img/bg.gif)" onload="initialize()">
<img src="img/logo.png">
<table>
  <tr>
    <td valign="top">
      <table class="num_list">
      <tr><th>No.</th><th>location</th><th>num</th></tr>
      <%
      @ranking.each_with_index{|v,no|
      %>
        <tr>
          <td class="no" align="center"><%= no + 1%></td>
          <td class="location"><%= h v[1] %></td>
          <td class="count" align="center">
            <a href="location/<%= v[0] %>"><%= v[2] %></a>
          </td>
        </tr>
      <%
      }
      %>
      </table>
    </td>
    <td>
    &nbsp;
    </td>
    <td valign="top">
      <div class="explanation">
        <div class="crawl_num">
        crawl <%= @count  %> user.
        </div>
        <div class="explanation_body">
        半径 1 クリックの範囲を収集した地域別 Twitter ユーザ数<br>
          <ul>
            <li>あーるわんゆーざーず</li>
            <li>タイムゾーンが日本のユーザがフォローしているユーザを地域別に丸めて(新宿区→東京 etc)集計</li>
            <li>一時間に一回ぐらい統計データを更新</li>
            <li>新着ユーザを RSS 配信</li>
          </ul>
        </div>
      </div>
      <br>
     <div class="crawl_num">
        rss list
      </div>
      <div style="padding-left:10pt;background-color:#ffffff">
        <a href="rss/all.rdf">
          <img src="img/feed.png" border="0"> 全て
        </a>
        <a href="rss/hokkaido.rdf">
          <img src="img/feed.png" border="0"> 北海道
        </a>
        <a href="rss/aomori.rdf">
          <img src="img/feed.png" border="0"> 青森
        </a>
        <a href="rss/iwate.rdf">
          <img src="img/feed.png" border="0"> 岩手県
        </a>
        <a href="rss/miyagi.rdf">
          <img src="img/feed.png" border="0"> 宮城
        </a>
        <a href="rss/akita.rdf">
          <img src="img/feed.png" border="0"> 秋田
        </a>
        <a href="rss/yamagata.rdf">
          <img src="img/feed.png" border="0"> 山形
        </a>
        <a href="rss/fukushima.rdf">
          <img src="img/feed.png" border="0"> 福島
        </a>
        <a href="rss/ibaraki.rdf">
          <img src="img/feed.png" border="0"> 茨城
        </a>
        <a href="rss/totigi.rdf">
          <img src="img/feed.png" border="0"> 栃木
        </a>
        <a href="rss/gunma.rdf">
          <img src="img/feed.png" border="0"> 群馬
        </a>
        <a href="rss/saitama.rdf">
          <img src="img/feed.png" border="0"> 埼玉
        </a>
        <a href="rss/chiba.rdf">
          <img src="img/feed.png" border="0"> 千葉
        </a>
        <a href="rss/tokyo.rdf">
          <img src="img/feed.png" border="0"> 東京
        </a>
        <a href="rss/kanagawa.rdf">
          <img src="img/feed.png" border="0"> 神奈川
        </a>
        <a href="rss/niigata.rdf">
          <img src="img/feed.png" border="0"> 新潟
        </a>
        <a href="rss/toyama.rdf">
          <img src="img/feed.png" border="0"> 富山
        </a>
        <a href="rss/ishikawa.rdf">
          <img src="img/feed.png" border="0"> 石川
        </a>
        <a href="rss/fukui.rdf">
          <img src="img/feed.png" border="0"> 福井
        </a>
        <a href="rss/yamanashi.rdf">
          <img src="img/feed.png" border="0"> 山梨
        </a>
        <a href="rss/nagano.rdf">
          <img src="img/feed.png" border="0"> 長野
        </a>
        <a href="rss/gifu.rdf">
          <img src="img/feed.png" border="0"> 岐阜
        </a>
        <a href="rss/sizuoka.rdf">
          <img src="img/feed.png" border="0"> 静岡
        </a>
        <a href="rss/aichi.rdf">
          <img src="img/feed.png" border="0"> 愛知
        </a>
        <a href="rss/mie.rdf">
          <img src="img/feed.png" border="0"> 三重
        </a>
        <a href="rss/shiga.rdf">
          <img src="img/feed.png" border="0"> 滋賀
        </a>
        <a href="rss/kyoto.rdf">
          <img src="img/feed.png" border="0"> 京都
        </a>
        <a href="rss/osaka.rdf">
          <img src="img/feed.png" border="0"> 大阪
        </a>
        <a href="rss/hyogo.rdf">
          <img src="img/feed.png" border="0"> 兵庫
        </a>
        <a href="rss/nara.rdf">
          <img src="img/feed.png" border="0"> 奈良
        </a>
        <a href="rss/wakayama.rdf">
          <img src="img/feed.png" border="0"> 和歌山
        </a>
        <a href="rss/tottori.rdf">
          <img src="img/feed.png" border="0"> 鳥取
        </a>
        <a href="rss/shimane.rdf">
          <img src="img/feed.png" border="0"> 島根
        </a>
        <a href="rss/okayama.rdf">
          <img src="img/feed.png" border="0"> 岡山
        </a>
        <a href="rss/hiroshima.rdf">
          <img src="img/feed.png" border="0"> 広島
        </a>
        <a href="rss/yamaguchi.rdf">
          <img src="img/feed.png" border="0"> 山口
        </a>
        <a href="rss/tokushima.rdf">
          <img src="img/feed.png" border="0"> 徳島
        </a>
        <a href="rss/kagawa.rdf">
          <img src="img/feed.png" border="0"> 香川
        </a>
        <a href="rss/ehime.rdf">
          <img src="img/feed.png" border="0"> 愛媛
        </a>
        <a href="rss/kochi.rdf">
          <img src="img/feed.png" border="0"> 高知
        </a>
        <a href="rss/fukuoka.rdf">
          <img src="img/feed.png" border="0"> 福岡
        </a>
        <a href="rss/saga.rdf">
          <img src="img/feed.png" border="0"> 佐賀
        </a>
        <a href="rss/nagasaki.rdf">
          <img src="img/feed.png" border="0"> 長崎
        </a>
        <a href="rss/kumamoto.rdf">
          <img src="img/feed.png" border="0"> 熊本
        </a>
        <a href="rss/oita.rdf">
          <img src="img/feed.png" border="0"> 大分
        </a>
        <a href="rss/miyazaki.rdf">
          <img src="img/feed.png" border="0"> 宮崎
        </a>
        <a href="rss/kagoshima.rdf">
          <img src="img/feed.png" border="0"> 鹿児島
        </a>
        <a href="rss/okinawa.rdf">
          <img src="img/feed.png" border="0"> 沖縄
        </a>
      </div>
      <br>
      <div>
        <table class="newuser_table">
          <tr>
            <th>
              new users 
            </th>
          </tr>
        </table>
        <div id="newuser" align="center" style="padding:5px;background-color:#ffffff">
          <img src="img/loading.gif" >
        </div>
      </div>
      <br>
      <div align="right">
        <a href="http://basyura.org/">basyura.org</a><br>
        <a href="http://d.hatena.ne.jp/basyura">blog</a><br>
        <a href="http://twitter.com/basyura">twitter</a>
      </div>
      <br>
      <div align="right">
      Powered by ruby <%= VERSION %><br>
      sinatra <%= Sinatra::VERSION%><br>
      sequel <%= Sequel::VERSION%><br>
      rack <%= Rack::version %><br>
      sqlite3<br>
      with cgi
      </div>
    </td>
  </tr>
</table>
</body>
</html>
